.pokemon {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2.5px 3px 0 rgba(0, 0, 0, 0.09);
  border: solid 0.5px #e6e6e6;
  margin: 2em;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__name {
    width: 100%;
    text-align: center;
  }

  &__info {
    position: absolute;
    top: -40px;
    right: 0;
  }

  &:hover {
    transform: scale(1.1);
    transition: .3s ease;
  }
}

@include lg {
  .pokemon {
    width: 200px;
    height: 200px;
  }
}